.dev-menu{
    position: absolute;
    top: 0;
    right: 0;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 90px;
    aspect-ratio: 1;
    background: white;
    justify-content: center;
    align-items: center;
    font-family: 'Comic Sans MS';
}


@media only screen and (max-width: 600px) {
    .dev-menu{
      display: none;
    }
  }