.App {
  height: 100vh;
  width: 100%;
  background: url("./images/pizzaoven2.png");
  background-color: sandybrown;
  display: flex;
  flex-direction: column;
}
.score-area{
  position:absolute;
  top: 15px;
  left: 50%;
  align-self: center;
  display: flex;
  font-size: 48px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  font-family: 'Comic Sans MS';
}
.score-area img{
  width: 45px;
  height: 45px;
}
.pizza{
  z-index: 10;
  width: 30rem;
  cursor: pointer;
}
.pizza:hover{
  zoom: 1.1;
  transform: rotate(2deg);
  transition: .2s;
}
.pizza:active{
  zoom: .95;
  transform: rotate(-2deg);
  transition: .2s;
}
.clicker-area{
  height: 75%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.menu{
  width: 100%;
  height: 25%;
  background-color: rgb(60, 60, 60);
  color: white;
  justify-self: flex-end;
  display: flex;
  position: static;
  bottom: 0;
  z-index: 3;
  flex-direction: column;
}
.menu span{
  display: block;
  float: left;
  margin-right: 2%;
  border: 1px solid black;
  padding: .5rem;
  border-radius: .375rem;
  background-color: rgb(50, 50, 50);
  cursor: pointer;
}
.menu span:hover{
  padding: .7rem;
  transition: .3s;
  background-color: rgb(40, 40, 40);
}
.menu-top{
  height: 20%;
  width: 100%;
  font-size: 2rem;
  display: flex;
  align-items: center;
}
.menu-bottom{
  height: 80%;
  width: 100%;
}
